{{#partial "navbar"}}
    <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
    <li class="nav-item"><a class="nav-link" href="/heroes/new">Build new Hero</a></li>
    <li class="nav-item"><a class="nav-link" href="/squads/new">Form a Squad</a></li>
    <li class="nav-item"><a class="nav-link" href="/heroes">View Progress</a></li>
{{/partial}}


{{#partial "content"}}
    {{#if members}}
        <form action="/squads/{{squad.squadId}}/remove" method="post">
            <h3 class="text-center"><u>Wishing to terminate a hero?</u></h3>
            <div class="form-group">
                <label for="removeHero">Remove Hero</label>
                <select class="form-control" id="removeHero" name="removeHero">
                    {{#if members}}
                        {{#each members}}
                            <option>{{name}}</option>
                        {{/each}}
                    {{else}}
                        <option>No more heroes available</option>
                    {{/if}}
                </select>
            </div>
            {{#if members}}
                <button type="submit" class="btn btn-outline-danger">Save</button>
            {{/if}}
        </form>
    {{else}}
        <form action="/squads/{{squad.squadId}}/update" method="post">
            <h3 class="text-center"><u>You can add more heroes</u></h3>
            <p class="text-center">Disclaimer: Max number of heroes is 5</p>
            <div class="form-group">
                <label for="addHero">Add Hero</label>
                <select class="form-control" id="addHero" name="addHero">
                    {{#if nonMembers}}
                        {{#each nonMembers}}
                            <option>{{name}}</option>
                        {{/each}}
                    {{else}}
                        <option>No more heroes available</option>
                    {{/if}}
                </select>
            </div>
            {{#if nonMembers}}
                <button type="submit" class="btn btn-outline-primary">Save</button>
            {{/if}}
        </form>
    {{/if}}


{{/partial}}
{{> layout.hbs}}